<div class="card form-center center-block">
  <h1 class="title text-center">Atualizar tarefa</h1>

  <%= render partial: 'form', locals: {texto_da_acao: "Atualizar"}%>

  <%= link_to 'Voltar', board_path(@task.board_id), class:"btn btn-success btn-block" %>
</div>