<div class="card form-center center-block">
  <h1 class="title text-center">Novo quadro</h1>

  <%= render partial: 'form', locals: {texto_da_acao: "Salvar"}%>

  <%= link_to 'Voltar', boards_path, class:"btn btn-success btn-block" %>
</div>
